.container {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 4%;
  padding-bottom: 7%;
}

.info {
  font-size: 1.5vw;
}

.left_info {
  text-align: left;
  font-size: 2vw;
}

.genres {
  font-size: 1.5vw;
  font-weight: bold;
}

.genres li {
  display: inline;
  padding-left: 3%;
  font-size: 1.5vw;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 10);
}

.overview {
  margin-top: 10%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  text-align: center;
  margin-top: 2%;
}

@media (max-width: 768px) {
  .container {
    padding-bottom: 100%;
    grid-template-columns: 1fr;
  }

  .genres li,
  .genres,
  .left_info,
  .info {
    font-size: 3.5vw;
  }
}
