.banner {
  width: 110%;
  height: auto;
  margin-top: -15%;
  display: grid;
  grid-template-rows: 1fr;
}

img {
  width: 100%;
  height: auto;
  position: relative;
}

.horizontal_wrapper {
  position: absolute;
  width: 120%;
  height: 200%;
  margin-top: -60%;
  margin-left: -130%;
  background-color: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
  transform-origin: right top;
}
