.card,
.card_banner {
  width: auto;
  height: auto;
  margin: 5%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
  position: relative;
}

.card_banner {
  width: 20%;
  height: auto;
  margin-top: 5%;
  margin-left: 3%;
  display: block;
  background-color: aliceblue;
  box-shadow: 1px 1px 20px rgba(245, 240, 240, 0.342);
  cursor: pointer;
  transform: rotate(90deg) translateY(-100px);
}

.card_header {
  height: 10vh;
  text-align: center;
  font-size: 1.5vw;
  padding-top: 10%;
  display: grid;
  grid-template-columns: 1fr;
}

.card_body {
  color: aliceblue;
  display: flex;
  margin-top: 2%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.overview {
  display: none;
}

.card:hover .overview,
.card_banner:hover .overview {
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  color: aliceblue;
  padding: 2rem;
  display: block;
  font-size: 1vw;
  border-radius: 10px;
}

.card_banner:hover .overview .card_button {
  text-align: center;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 1.5vw;
  border-radius: 10px;
  cursor: pointer;
  padding: 2% 5%;
  font-weight: bold;
  background-color: rgb(255, 230, 0);
  user-select: none;
}

.card_button {
  text-align: center;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 1.5vw;
  border-radius: 10px;
  cursor: pointer;
  padding: 2% 5%;
  font-weight: bold;
  background-color: rgb(255, 230, 0);
  user-select: none;
}

.card_button:active {
  transform: scale(0.9);
  border: 2px solid black;
  box-shadow: 10px 10px 25px black;
}

@media (max-width: 800px) {
  .card:hover .overview {
    font-size: 2.5vw;
  }
  .card_button {
    font-size: 2.5vw;
  }

  .card_header {
    height: 5vh;
    font-size: 3vw;
    margin: 2%;
  }

  .card_banner {
    margin-left: -5%;
  }
}

@media (min-width: 801px) and (max-width: 1400px) {
  .card:hover .overview {
    font-size: 2vw;
  }
  .card_button {
    font-size: 2vw;
  }

  .card_header {
    height: 4vh;
    font-size: 3vw;
    margin: 2%;
  }

  .card_banner {
    margin-left: 0%;
  }
}
