.element {
  font-size: 1.5vw;
  cursor: pointer;
  color: grey;
}

.selected {
  font-size: 1.5vw;
  cursor: pointer;
}

.button_element {
  font-size: 2.5vw;
}

.button_element.dark {
  background-color: rgb(226, 204, 0);
}

@media (max-width: 768px) {
  .element {
    font-size: 4vw;
  }

  .selected {
    font-size: 4vw;
  }

  .button_element {
    font-size: 5vw;
    margin-top: 10%;
  }
}
