.header_container {
  width: 100%;
  height: 5vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr 0.5fr 1fr;
  z-index: 1;
  position: fixed;
  padding: 1%;
}

.header_container.dark {
  background-color: rgb(15, 15, 15);
  padding-bottom: 2%;
}
.header_container.light {
  background-color: rgb(196, 211, 224);
  padding-bottom: 2%;
}

.search {
  align-items: center;
  margin-top: 2%;
  text-align: center;
}

.logo h1 {
  font-size: 3vw;
  margin-top: -1%;
  user-select: none;
  cursor: pointer;
}

.logo h1:active {
  zoom: 90%;
}

.login {
  padding-top: 5%;
  text-align: right;
}
