.banner {
  width: 110%;
  height: auto;
  margin-top: -15%;
  display: grid;
  grid-template-rows: 1fr;
}

img {
  width: 100%;
  height: auto;
  position: inherit;
}

.search_results {
  background-color: transparent;
  width: auto;
  margin: 1%;
  height: 50vh;
  position: inherit;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  /* grid-auto-flow: column; */
  overflow-y: hidden;
}
