.card_container {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2%;
}

@media (max-width: 768px) {
  .card_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
