.card_container {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2%;
}

.movieheader {
  margin: 2%;
}

@media (max-width: 800px) {
  .card_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 801px) and (max-width: 1400px) {
  .card_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
