.search_container {
  width: 50%;
  height: auto;
  text-align: center;
  display: inline-grid;
  grid-template-columns: 2fr 1fr;
  align-items: right;
  grid-gap: 1rem;
  margin-left: 15%;
}

.searchbar {
  height: 90%;
  border-radius: 20px;
  background-color: #f8faff;
  font-size: 2vw;
  padding-left: 5px;
  padding-right: 5px;
}

.btn_search {
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background: #f8faff;
  border-radius: 10px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: rgba(255, 230, 0, 0.541);
}

.btn_search:active {
  transform: scale(0.9);
  background-color: darken(#f8faff, 10%);
  border: 2px solid black;
  box-shadow: 0 2px 25px aliceblue;
  background-color: rgb(255, 230, 0);
}
