.nav_container {
  margin-top: 2%;
}

.nav_container li {
  display: inline-block;
  padding: 0 5%;
  font-size: 1.5vw;
  font-weight: 600;
  user-select: none;
  text-decoration: none;
}
.nav_links:active,
.nav_links:hover,
.nav_links:link,
.nav_links:visited {
  text-decoration: none;
  cursor: pointer;
}

.nav_links.light {
  color: #000;
}

.nav_links.dark {
  color: rgb(226, 204, 0);
}

.nav_container li:active {
  zoom: 90%;
}
