.nav_container {
  margin-top: 2%;
}

.nav_container li {
  display: inline-block;
  padding: 0 5%;
  font-size: 1.5vw;
  font-weight: 600;
  user-select: none;
  text-decoration: none;
}
.nav_links:active,
.nav_links:hover,
.nav_links:link,
.nav_links:visited {
  text-decoration: none;
  cursor: pointer;
}

.nav_links.light {
  color: #000;
}

.nav_links.dark {
  color: rgb(226, 204, 0);
}

.nav_container li:active {
  zoom: 90%;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(196, 211, 224);
  width: auto;
  padding: 10px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: 1%;
  z-index: 1;
}

.dark {
  background-color: rgb(15, 15, 15);
}

.dropdown p {
  display: block;
  font-size: 1.5vw;
  font-weight: bold;
}

.nav_links:hover .dropdown {
  display: block;
}
