.banner {
  width: auto;
  max-height: 100%;
  overflow: hidden;
}

.poster {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  max-height: 100%;
}

.backdrop {
  width: 100%;
  height: auto;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 50%;
  height: auto;
  padding: 20px;
  border: 1px solid white;
}

.watch_button {
  margin-top: 5%;
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.watch_button:hover {
  background: #ddd;
  color: black;
}
