.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1%;
}

.header {
  margin: 2%;
  text-align: left;
}

.pages_header,
.pages_footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: left;
  margin-left: 70%;
  width: 30%;
  user-select: none;
}
.pages_header {
  margin-top: 5%;
  margin-bottom: 2%;
}

.center {
  position: absolute;
  left: 50%;
  margin-top: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .header {
    font-size: 2.5vw;
  }

  .center {
    margin-top: 40%;
  }
}
